---
title: Swap Cash
layout: app.liquid
data:
  intro: |
    Buy your favorite cryptocurrency from local providers
  out_msg: aprox. to receive with an avg. rate of {}
---

<p>{{ page.data.intro }}</p>

<form action="#list-offers" method="GET">
	<swap-cash from="fiat" rate="1.1" data-out-msg="{{ page.data.out_msg }}">
		<input name="amount" type="number" required slot="amount">
		<select name="fiat" slot="fiat-select">
			<option value="EUR">EUR</option>
		</select>
		<select name="crypto" slot="crypto-select">
			<option value="AUSD">aUSD</option>
			<option value="KSM">KSM</option>
		</select>
	</swap-cash>
	<button class="action" type="submit">Search</button>
</form>
