---
title: ｓｗａｐ｜ｃａｓｈ
layout: app.liquid
data:
  intro: |
    Buy your favorite cryptocurrency directly from people in your area
  out_msg: aprox. to receive with an avg. rate of {}
  notice: |
    SwapCash is a protocol for simple, decentralized, <i>peer to peer</i> exchange of fiat money 
    and cryptocurrencies part of the <a href="https://virto.network">Virto Network</a>.<br>
    <br>
    This demo is a work in progress. For more information check our
    <a href="explainer.html">explainer</a>.
---

<p>{{ page.data.intro }}</p>

<form action="{{ site.data.wallet_url }}/swap/offers" method="GET" target="wallet">
	<swap-x name="swap" rate="1.1" data-out-msg="{{ page.data.out_msg }}">
		<input name="amount" type="number" required slot="amount">
		<select name="fiat" slot="from-select">
			<option value="EUR">EUR</option>
		</select>
		<select name="crypto" slot="to-select">
			<option value="AUSD">aUSD</option>
			<option value="KSM">KSM</option>
		</select>
	</swap-x>
	<input type="hidden" name="f" value="Europe+Paypal">
	<button class="action" type="submit">Search</button>

	<dialog id="notice" open>
		<button type="button" onclick="parentElement.close()">✕</button>
		<p>{{ page.data.notice }}</p>
	</dialog>
</form>

<ol id="select-offer">
	<swap-offer role="listitem" data-swaps="999" data-name="Ramen" data-method="Paypal" data-where="DE"
		data-relative="+1.4%">
		<output>0.9</output>
	</swap-offer>
	<swap-offer role="listitem" data-swaps="111" data-name="Milka" data-method="SEPA" data-where="FR"
		data-relative="+2.0%">
		<output>0.95</output>
	</swap-offer>
</ol>

<dialog>
	<form action="#confirm-order">
	</form>
</dialog>
