<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="icon" href="data:,">
	<title>{{ page.title }}</title>

	<meta name="theme-color" content="#3F3F8E">
	<link rel="stylesheet" href="css/app.css">
	<style>{% include "app_base.css" %}</style>
	<noscript><style></style></noscript>

	<script type="module" src="js/swap-cash.js" async></script>
</head>

<body>
	<dialog>
		<iframe name="wallet" src="{{ site.data.wallet_url }}"></iframe>
	</dialog>
	<main>
		<header>
			{% include "swap_cash.svg" %}
			<user-avatar></user-avatar>
		</header>
		{{ page.content }}
	</main>
</body>

</html>
